Source: openmediavault-viewpowerups
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 13)
Standards-Version: 1.0.0
Homepage: http://omv-extras.org/
Package: openmediavault-viewpowerups
Version: 1.0
Architecture: all
Depends: openmediavault (>= 7)
Description: viewpowerups plugin for openmediavault
 Show info from ups via ViewPower.
